body{
    background: seashell;
}
#left {
    float: left;
    width: 50%;
}

#left>ul>li {
    list-style: none;
}

#right {
    float: right;
    width: 50%;
}

#app {
    width: 100%;
    height: 100%;
}

li,
h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: deeppink;
}
p{
    background: deeppink;
    font: bold 100% "微软雅黑";
    color: #fff;
}
#top{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 6px;
    text-align: center;
    font: 12px/12px '宋体';
}
#bottom{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    text-align: center;
    font: 24px/24px '宋体';
}
#zhiling{
    position: fixed;
    bottom: 20px;
    /*left: 35%;*/
    /*height:1008px ; !*672px;*!*/
    /*width: 640px  ; !*426px;*!*/
    left: 0;
    font-size: 50px;
    /*height:672px;*/
    /*width:426px ;*/
}